name: release

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: 'package.json'

      - run: npm ci

      - run: npm run lint

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        helm: ['2.17.0', '3.4.2', '3.7.1', '3.18.5']
    env:
      FIXTURES_GIT_REPO: ${{ format('{0}/{1}', github.server_url, github.event.pull_request.head.repo.full_name || github.repository) }}
      FIXTURES_GIT_REF: ${{ github.head_ref || github.ref_name }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: 'package.json'

      - uses: azure/setup-helm@v4
        with:
          version: ${{ matrix.helm }}
        id: helm

      - run: npm ci

      - name: Replace common utilities by busybox counterparts
        run: |
          path="${PWD}/.busybox"
          mkdir -p $path
          ln -fs /bin/busybox $path/sh
          ln -fs /bin/busybox $path/sed
          ln -fs /bin/busybox $path/grep
          ln -fs /bin/busybox $path/ls
          ln -fs /bin/busybox $path/mktemp
          echo "$path" >> $GITHUB_PATH

      - run: npm run test
      - run: npm run test:e2e

  release:
    name: release
    needs: [lint, test]
    runs-on: ubuntu-latest
    if: |
      (!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')) &&
      github.event_name == 'push' && github.ref == 'refs/heads/master'
    concurrency:
      group: release-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ github.token }}

      - uses: actions/setup-node@v5
        with:
          node-version-file: 'package.json'

      - run: git fetch --unshallow --tags

      - run: npm ci

      - env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          npm run release
