name: test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    matrix:
      helm: ['2.17.0', '3.4.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: azure/setup-helm@v1
        with:
          version: ${{ matrix.helm }}
        id: helm

      - run: npm ci

      - run: npm run test
      - run: npm run test:e2e
